@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text--purple {
  color: #6030b1;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 20px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #9841ef;
  transform: scale(1.05);
}

.personal__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME SECTION */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.about-me__picture--mask {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-me__picture {
  width: 100%;
  object-fit: cover;
  object-position: center top;
  height: 100%;
}

.about-me__info--title {
  font-size: 28px;
  margin-bottom: 16px;
}

.about-me__info--para {
  font-size: 20px;
  margin-bottom: 28px;
}

.about-me__link {
  font-size: 25px;
  color: #242424;
  text-decoration: none;
  padding: 0px 16px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.about-me__img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
